<?xml version="1.0" encoding="utf-8" standalone="yes"?><Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Application>Microsoft Office PowerPoint</Application><Characters>0</Characters><Company /><Lines>0</Lines><MMClips>0</MMClips><Notes>1</Notes><Pages>0</Pages><Paragraphs>41</Paragraphs><PresentationFormat>Widescreen</PresentationFormat><Template>Benutzerdefiniertes Design</Template><HiddenSlides>0</HiddenSlides><LinksUpToDate>false</LinksUpToDate><ScaleCrop>false</ScaleCrop><Slides>1</Slides><TotalTime>0</TotalTime><Words>557</Words><AppVersion>12.0000</AppVersion></Properties>